{# {{ dump(products) }} #}
<div id= "crossselling_subform" class="form-group row">
  <div class="{% if type is same as('category') or type is same as('global') %}col-md-12{% else%} col-md-6{% endif %}">
    <label class="col-md-12 col-form-label" for="category_search_product">
      {{ 'Search for a product'|trans({}, 'Modules.AaCrossSelling.Admin') }}
    </label>
    <input id="category_search_product" type="text" class="form-control" autocomplete="off" data-type="{{ type }}">
    <div class="dropdown">
      <div class="dropdown-menu"></div>
    </div>
    <small class="form-text">
      {{ 'Search for an existing product by typing the first letters of its name.'|trans({}, 'Modules.AaMigrateCatalogue.Admin') }}
    </small>
  </div>
  <div class="{% if type is same as('category') or type is same as('global') %}col-md-12{% else%} col-md-6{% endif %}">
    <ul id="ulcs" class="list-unstyled">
      {% for product in products %}
        <li id="product_{{ product.id_product }}" class="cellColumn">
        <span class="cellColumnName">
          <p class="mb-0 productReference">
            {{ product.name }}
          </p>
        </span>
          <span class="text-right cellColumnActions">
          <img src="{{ product.image }}" width="70">
          <input id="hidden_{{ product.id_product }}"
                 type="hidden" value="{{ product.id_product }}"
                 name="{{ type }}[crossselling][{{ product.id_product }}][id_product]">
          {#
          <input id="primary_checkbox_{{ product.id_product }}"
                 type="checkbox"
                 data-id-product="{{ product.id_product }}"
                 class="checkbox-primary"
                 {% if not product.is_primary %} value="{{ product.is_primary }}"{% endif %}
                 name="{{ type }}[crossselling][{{ product.id_product }}][is_primary]"
                 {% if product.is_primary  %}checked{% endif %}
          >
          {{ 'Primary'|trans({}, 'Modules.AaMigrateCatalogue.Admin') }}#}
          <button
            type="button"
            class="btn tooltip-link js-crossselling-product-delete-btn" data-id-product="{{ product.id_product }}">
            <i class="material-icons">delete</i>
          </button>
        </span>
        </li>
      {% endfor %}
    </ul>

    {% include '@Modules/aa_crossselling/views/templates/admin/orders_products.html.twig' %}

  </div>

</div>


